source: ./
destination: docs/
title: Context Plugin Documentation
groups: namespaces
exclude: 
    - docs/*
    - node_modules/*
    - vendor/*
templateTheme: bootstrap
accessLevels:
    - public
    - protected
internal: no
php: yes
tree: yes
deprecated: no
todo: yes
sourceCode: yes