source: ./
destination: ../plugin-docs/context-plugin
title: Context Plugin Documentation
groups: namespaces
exclude: 
    - docs/*
    - node_modules/*
    - vendor/*
templateTheme: bootstrap
accessLevels:
    - public
    - protected
    - private
internal: yes
php: yes
tree: yes
deprecated: no
todo: yes
sourceCode: yes
download: Yes
wipeout: Yes
quiet: No
progressbar: Yes
colors: Yes
updateCheck: Yes
debug: No